cassio 
datasets 
langchain 
openai 
tiktoken
langchain
python-dotenv
PyPDF2
ipykernel
langchain-community
pypdf
langchain-text-splitters
langchain-openai
langchain-groq
huggingface_hub
